Flask==3.0.3
Werkzeug==3.0.1
gunicorn==21.2.0

requests==2.31.0
python-whois==0.8.0

numpy==1.26.4
pandas==2.1.4
scikit-learn==1.7.2
joblib==1.4.2

torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
transformers==4.35.0
einops==0.7.0

librosa==0.10.0
soundfile==0.12.1

opencv-python==4.10.0.84
matplotlib==3.9.2
efficientnet-pytorch==0.7.1
facenet-pytorch==2.6.0
tqdm==4.66.5
timm==1.0.12

Pillow==10.2.0

pytesseract==0.3.10
